.nav__container {
    width: 100vw;
    height: 50px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__user {
    font-size: 30px;
    margin-left: 20px;
    color: white;
}

.nav__logout {
    margin-right: 20px;
}