//Colors

$primary: #1b25df;
$dark-grey: #363636;
$light-grey: #d8d8d8;


$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;

$BrightBlue: hsl(220, 98%, 61%);
$checkBackground: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%);

$VeryDarkBlue: hsl(235, 21%, 11%);
$VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$LightGrayishBlue: hsl(234, 39%, 85%);
$LightGrayishBlueHover: hsl(236, 33%, 92%);
$DarkGrayishBlue: hsl(234, 11%, 52%);
$VeryDarkGrayishBlue: hsl(233, 14%, 35%);
$VeryDarkGrayishBlue: hsl(237, 14%, 26%);

